@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.content {
  display: flex;
  background-color: #FFFEF9;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-family: 'Crete Round', serif;
    font-size: 56px;
  }

  section {
    display: flex;

    :global(.ant-btn) {
      margin: 10px 24px;
      font-size: 24px;
      height: max-content;
      font-family: 'Crete Round', serif;
      color: black;

      :hover {
        text-decoration: underline;
      }
    }

  }
}

.footer {
  display: flex;
  background-color: #FFFEF9;
  justify-content: center;
  align-items: center;
}