.table {
  :global(.ant-table-wrapper) {
    height: 100%;

    :global(.ant-spin-nested-loading) {
      height: 100%;

      :global(.ant-spin-container ) {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;

        :global(.ant-table) {
          flex: auto;
          overflow: hidden;

          :global(.ant-table-container) {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;

            :global(.ant-table-header) {
              flex: none;
            }

            :global(.ant-table-body) {
              flex: auto;
              overflow: scroll;
            }
          }
        }

        :global(.ant-table-pagination) {
          flex: none;
        }
      }
    }
  }
}

.tableWrapper {
  height: 50vh;

  h1 {
    font-size: 36px;
  }
}