
.form {
  margin-top: 24px;

  :global(.ant-btn-link) {
    color: black;
    font-family: 'Crete Round', serif;

    :hover {
      text-decoration: underline;
    }
  }

  :global(.ant-btn) {
    font-family: 'Crete Round', serif;
    font-size: 18px;
    height: max-content;
  }
}

.div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.password {
  display: flex;
  width: 100%;
  justify-content: center;

  :global(.ant-btn-link) {
    font-size: 14px;
  }
}

.layout {
  :global(.ant-layout) {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #FFFEF9;
  }
}