.container {
  position: relative;
  width: 100%;
  height: 80%;
  padding: 0 20px;

  h1 {
    font-family: 'Crete Round', serif;
    font-size: 30px;
    margin: 0;
  }

  svg {
    :hover {
      color: #1da57a;
    }
  }

  :global(.ant-spin-nested-loading ) {
    width: 60%;

    h4 {
      margin: 0;
    }
  }

  :global(.ant-list-split .ant-list-item) {
    border-bottom-color: transparent;
  }

  :global(.ant-list-item-meta-description) {
    width: max-content;
  }

  :global(.ant-list-item-meta-title) {
    width: max-content;
  }
}




