body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.updateForm {
  
  padding: 30px;
  border: 1px solid #ddd;
}

.updateForm .ant-row {
  display: block !important;
}

.updateForm .ant-input-number  {
  width: 100%;
}

.cardNotActive {
  padding: 10px 0;
  border: 3px dashed red;
  text-align: center;
  margin-bottom: 20px;
}



@media screen and (min-width:768px) {
  .updateForm {
    width: 600px;
    margin: 50px !important;
  }
}
