.form {
  margin-top: 24px;

  &SignUp {
    @extend .form;

    :global(.ant-btn) {
      font-family: 'Crete Round', serif;
      font-size: 18px;
      height: max-content;
    }

    :global(.ant-btn-link) {
      color: black;
      font-family: 'Crete Round', serif;

      :hover {
        text-decoration: underline;
      }
    }

    :global(.ant-divider-inner-text) {
      font-family: 'Crete Round', serif;
    }
  }
}

.submitButton {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  &SignUp {
    @extend .submitButton;
    justify-content: space-between;
  }
}

.layout {
  :global(.ant-layout) {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #FFFEF9;
  }
}