.popover {
  :global(.ant-popover-message) {
    display: flex;
    align-items: center;
    padding: 4px 12px;
  }

  :global(.ant-popover-buttons) {
    text-align: center;
  }
}

.container {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 36px;
  }
}

.formContainer {
  :global(.ant-input) {
    width: 300px;
  }

  :global(.ant-form) {
    display: flex;
  }

  :global(.ant-switch) {
    margin-right: 15px;
  }

  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}