@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.header {
  display: flex;
  background-color: #FFFEF9;
  text-align: center;
  font-family: 'Crete Round', serif;
  font-size: 48px;
  width: 100%;
  justify-content: center;
  align-items: center;

  p {
    margin: 0 !important;
  }
}

.svg {
  position: absolute;
  cursor: pointer;
  right: 24px;
}