.cost {
  display: flex;
  align-items: flex-end;

  h1 {
    margin-left: 20px;
    margin-bottom: 0;
  }

  :global(.ant-statistic):nth-child(1) {
    margin-left: 0;
  }

  :global(.ant-statistic) {
    margin-left: 20px;
  }
}

.divider {
  :global(.ant-divider-horizontal) {
    margin: 14px 0;
  }
}

.modal {
  width:80vw;
  :global(.ant-modal-body) {
    width:80vw;

    p {
      display: flex;
      align-items: flex-end;
    }
  }
}