.popover {
  :global(.ant-popover-message) {
    display: flex;
    align-items: center;
    padding: 4px 12px;
  }

  :global(.ant-popover-buttons) {
    text-align: center;
  }
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  h1 {
    font-size: 36px;
  }
}

.formContainer {
  :global(.ant-input) {
    width: 300px;
  }

  :global(.ant-row) {
    flex-direction: column;
    align-items: flex-start;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px 14px;
  height: 80%;
  width: 50%;
}